<div class="background">
<div class="splash-box">
  <div class="logo">Gorillo</div>

  <form class="splash-form" action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email<br>
      <input id="user" name="user[email]" type="text"><br>
    </label><br>
    <label>Password<br>
      <input id="password" name="user[password]" type="password"><br>
    </label><br>
    <input id="sign-in" type="submit" value="Sign In" class="button">
    <button id="tour" class="button" type="button" name="button">Take a Tour</button>

  </form>

  </div>
</div>

<script>$('#tour').on('click', function() {
  $('#user').val('guest@gmail.com');
  $('#password').val('123123');
  $('#sign-in').click(); })</script>
