  <textarea name="card[title]" rows="2" cols="30"></textarea>
  <input class="submit" id="card-submit" type="submit" value="Add">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
