<div class="shown-form">
  <form class="card-edit">


  <textarea name="card[title]" rows="2" cols="30"><%=card.get('title')%></textarea>
  <input class="submit" id="card-submit" type="submit" value="Save">
  <button class='delete' name="button">Delete</button>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

  </form>
</div>
