<div class="board-form">

<span>Create Board</span>
<br>
  <label >Title</label>
  <input id="title" type="text" name="board[title]">
  <br>
  <input type="submit" class="submit">
  <span id="board-submit" class="glyphicon glyphicon-remove" aria-hidden="true"></span>

</div>
