<a href="#/api/boards/<%= board.id %>">
<a href="#boards/<%=board.id%>">
<h2 class="board-index-title"><%= board.escape("title") %></h2>
<button class="delete-board" data-id="<%=board.id%>">X</button>
</a>
