
<div class="title board-show-title"></div>
<button class='delete-board' name="button">Delete Board</button>
<br>

<div class="lists-window">

<div class="clearfix" id="lists"></div>

<div class="list-form"></div>

</div>
