<div class="background">
<div class="splash-box">
  <div class="logo">Gorillo</div>

<form class="splash-form" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email<br>
    <input id="user" name="user[email]" type="text"><br>
  </label><br>
  <label>Password<br>
    <input id="password"name="user[password]" type="password"><br>
  </label><br>
  <input id="sign-up" type="submit" value="Sign Up" class="button"><br>
</form>
</div>
</div>
