/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";
body{
  background-color: rgb(14, 116, 175)
}

#main{
  margin-left:5px
}

.submit{
  background: linear-gradient(to bottom, #70b500 0, #64a200 100%);
  color: #fff;
  font-weight: 700;
  width: auto;
  margin: 5px;
  border:none;
  box-shadow: 0 1px 0 #4d4d4d;
  border-radius: 5px;
  padding: 5px 20px

}

ul{
  list-style: none;
  padding: 0;
  margin: 0
}

.glyphicon-remove{
  color: #7D8083;
  font-size: 25px
}


.glyphicon-remove:hover{
  color: #212427;
  cursor: pointer;
}

.board-item > button {
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  background-color: lightblue;
  left: 50%;
  transform: translateX(-50%);
  // display:none
}
.board-item > button:hover {
  // display: block;
  background-color: blue;
}

a{
  font-size: 16px;
  color: black
}

.clearfix {
  overflow: auto;
  font-size: 5px;
}
