.card{
  background-color: rgba(255,255,255, 0.81);
  border-radius: 3px;
  margin-bottom: 7px;
  margin-bottom: 7px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  z-index: 0;
}

.card:hover{
  cursor:pointer;
}

.card:hover .edit{
  color:black
}

.cards{
  margin: 0px 4px
}

.card>span{
  font-size: 12px;
  margin: 3px
}

.hidden-form{
  font-size: 12px;
  margin-left: 3px;
}

.hidden-form:hover{
  cursor: pointer;
  background-color: rgba(163, 163, 163, 0.43);
  text-decoration: underline;
}

textarea {
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  font-size:12px;
  border-bottom: 1px solid #ccc;
}

.card-show:hover  .edit {
  display: block;
  color: #8c8c8c;
}

.card-show:hover  .edit:hover {
  color: #4d4d4d;
}

.edit{
float:right;
margin-right: 5px;
margin-top: 4px;
font-size:14px;
// display: none
color:rgba(255,255,255, 0.81)
}

.edit:hover{
  display: block;
  cursor:pointer;
  color:black

}
