.list{
  float: left;
  color: black;
  background: #e2e4e6;
  border-radius: 3px;
  font-size: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 260px;
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
  margin: 0 5px;
  max-height: 100%;
  padding: 4px 3px 3px;
  position: relative;
  width: 260px;
}

.list-title {
  margin-left: 3px;
  margin-bottom: 5px;
  font-weight: bold
}

.list-header:hover .options{
  color:black;
  cursor:pointer
}

#lists, .list-form {
  display: inline-block;
  vertical-align: top;
}

.list-form{
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 100px;
  border-radius: 5px;
  color: #fff

}

.hidden-list-form:hover{
  background-color: rgba(212, 216, 216, 0.77);
  cursor: pointer;
}

.hidden-list-form{
  position: absolute;
  height: 100%;
  width: 100%;
  height: 32px;
  background-color: rgba(0,0,0,.12);
}

.shown-list-form{
  background: #e2e4e6;
}


.list-form h2{
  margin: 8px 0px 0px 75px;
  color: #fff;
  font-size: 14px
}

.list-form span{
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: 5px
}

.list-form .submit{
  font-size: 14px
}

.list-text-input{
  border-radius: 3px;
  size: 55;
  font-size:12px;
  color: black;
  font-weight: normal;
  width: 250px;
  margin-left: 5px;
  margin-top: 3px;
  background: rgba(0,0,0,.05);
  padding-left: 7px
}

.list-form .submit{
  font-size: 12px;
  padding: 2px 20px
}

.options{
  float:right;
  color: #8c8c8c;
}

.options:hover{
  float:right;
  color: black;
  cursor: pointer;
}


.list-text-edit{
  width: 250px
}
