<h4> Create List </h4>

<form >
  <label >Title</label>
  <input type="text" name="list[title]">
  <input type="hidden" name="list[board_id]" value="<%= board.id %>">
  <input type="submit" value="Submit">
</form>
