<div class="">
  <i class="fa fa-pencil-square-o options"></i>
</div>

<form class="">
  <textarea class="list-text-edit" rows="1" cols="30" name="list[title]"><%=title%></textarea>
  <input class="save" id="list-submit" type="submit" value="Save">
  <button class='delete' name="button">Delete</button>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

</form>

<div class="cards"> </div>

<div class="card-form"> </div>
