<div class="list-header" data-list-id="<%= list.id %>">
  <span class="list-title"><%=list.escape('title') %></span>
  <i class="fa fa-pencil-square-o options"></i>

</div>

<div class="cards clearfix" id="cards"> </div>

<div class="card-form"> </div>
