<div class="shown-list-form">
<input type="text" class="list-text-input" value="Add a list..." name="list[title]">
<br>
<input class="submit" type="submit" value="Submit">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</div>
